.animated-card {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .animated-card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
  }
  
  .card1 {
    background: linear-gradient(135deg, #673AB7, #9575CD); /* Deep Purple */
    color: #008080;
  }
  
  .card2 {
    background: linear-gradient(135deg, #009688, #4DB6AC); /* Teal */
    color: #008080;
  }
  
  .card3 {
    background: linear-gradient(135deg, #FF5722, #FF8A65); /* Orange */
    color: #008080;
  }
  